@using EntityLayer.DTOs.StaffDTOs
@model AuthLayoutDto
@{
    ViewData["Title"] = "Login";
    var userID = ViewBag.userId;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" asp-append-version="true" href="~/css/auth.css" />
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwgcERR63sgRYQxBd89ijLspmKLikH4Gbgjg&s" alt="OpuqoImage" style="width: auto;">

    <h1 style="font-size: 80; color:#04612c;">Personel Seyahat Sistemi</h1>
    <br>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <partial name="~/Views/PartialViews/Auth/RegisterFormPartialView.cshtml" model="Model?.RegisterDto" />
        </div>
        <div class="form-container sign-in-container">
            <partial name="~/Views/PartialViews/Auth/LoginFormPartialView.cshtml" model="Model?.LoginDto" />
            @if (ViewBag.ErrorMessage != null)
            {
                <div style="color:red;">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
        @await Component.InvokeAsync("NToastNotify");
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Tekrardan Hoşgeldiniz!</h1>
                    <p>Üyeyseniz giriş yapınız</p>
                    <button class="ghost" id="signIn">Giriş Yap</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hesabınız Yok Mu?</h1>
                    <p>Seyahat etmek için kişisel bilgilerini gir.</p>
                    <button class="ghost" id="signUp">Kaydol</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Created by Opuqo</p>
    </footer>

    <script src="~/js/auth.js"></script>
</body>
</html>
