@using EntityLayer.DTOs.StaffDTOs
@model AuthLayoutDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@*<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pw" class="control-label"></label>
        <input asp-for="Pw" type="password" class="form-control" />
        <span asp-validation-for="Pw" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPw" class="control-label"></label>
        <input asp-for="ConfirmPw" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPw" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAdmin" class="control-label"></label>
        <input asp-for="IsAdmin" type="checkbox" />
        <span asp-validation-for="IsAdmin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
*@
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
